@model ConcertApplication.Models.ConcertViewModel
@using Microsoft.AspNetCore.Identity

@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewData["Title"] = "Details";
    ViewData["id"] = Model.Id;
}

@if (@ViewBag.Message != null)
{
    <h2 class="text-info">Ticket booking</h2>
    <div class="card">
        <h3>@ViewBag.Message</h3>
    </div>
}
else
{
    <h2>Detailed information</h2>
}
    <div>
        <h3>Concert</h3>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Id)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Id)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Type)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Type)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Performer)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Performer)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.TicketsAmount)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.TicketsAmount)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.TicketsLeft)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.TicketsLeft)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.ConcertDate)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.ConcertDate)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Place)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Place)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Price)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Price)
            </dd>
            @if (Model.Type == nameof(ClassicalConcertModel))
            {
                @await Html.PartialAsync("DetailsPartials/_ClassicalDetailsPartial", Model)
            }
            @if (Model.Type == nameof(OpenAirModel))
            {
                @await Html.PartialAsync("DetailsPartials/_OpenAirDetailsPartial", Model)
            }
            @if (Model.Type == nameof(PartyModel))
            {
                @await Html.PartialAsync("DetailsPartials/_PartyDetailsPartial", Model)
            }
        </dl>

        @if (SignInManager.IsSignedIn(User))
        {
            @if (User.IsInRole("Admin"))
            {
                <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
                @Html.Raw("|")
                <a asp-action="Delete" asp-route-id="@Model.Id">Delete</a>
                @Html.Raw("|")
            }
        }
        <a asp-action="Index">Back to Concerts list</a>
        <br />

        @await Html.PartialAsync("DetailsPartials/_BookingTicketPartial", new ViewDataDictionary(this.ViewData));

    </div>