@model IEnumerable<ConcertApplication.Models.Concert>

@{
    ViewData["Title"] = "Index";
}
<div id="concerts">
    <h2>All concerts</h2>

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Type)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Performer)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TicketsAmount)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TicketsLeft)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Date)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Place)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Type)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Performer)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TicketsAmount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TicketsLeft)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Date)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Place)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div id="map_app">
    <concert_map>
    </concert_map>
</div>

<div id="app">
    <concert_map>
    </concert_map>
</div>

<template id="map_app">
    <div id="concerts">
        <div class="grid-x">
            <div class="large-9 medium-9 small-12 cell">
                <concert-map></concert-map>
            </div>
            <div class="large-3 medium-3 small-12 cell">

            </div>
        </div>
    </div>
</template>